pydantic==2.11.7
fastapi==0.116.1
starlette==0.47.2
python-dotenv==1.1.1
openai==1.50.2
pydantic_settings==2.10.1
pydantic[email]==2.11.7
uvicorn==0.35.0
regex==2024.11.6
SQLAlchemy==2.0.41
asyncpg==0.29.0
DBUtils==3.1.1
psycopg2-binary==2.9.10
alembic==1.16.4
tenacity==9.1.2
httpx==0.27.2
passlib
pytz
python-multipart
python-jose
tenacity
bcrypt==4.1.2
PyJWT
pgvector
PyPDF2==3.0.1
azure-identity
psycopg[binary]>=3.1.0
google-generativeai>=0.7.0
faiss-cpu